store-dir=C:/Users/11962/WorkBuddy/2026-07-02-17-14-34/.pnpm-store
cache-dir=C:/Users/11962/WorkBuddy/2026-07-02-17-14-34/.pnpm-cache
registry=https://registry.npmmirror.com/
@storybook:registry=https://registry.npmjs.org/
